# Configuration file

"adron mfsu" {
    I:output=15497216
    D:storage=2.56E10
    I:tier=9
}


"adron solar panel" {
    D:AdronGenDay=4.9078125E8
    D:AdronGenNight=4.9078125E8
    D:AdronOutput=9.815625E8
    D:AdronStorage=1.0E12
}


"advanced mfsu" {
    I:"energy storage"=400000000
    I:"energy transfer Et/t"=242144
    I:tier=6
}


"americium rod" {
    I:Cells=5000
    I:Heat=1
    D:Power=4.5
}


"awakaned solar panel" {
    D:genday=163840.0
    D:gennight=81920.0
    D:output=327680.0
    D:storage=1.0E7
    I:tier=7
}


"barion mfsu" {
    I:output=3874304
    D:storage=6.4E9
    I:tier=7
}


"barion solar panel" {
    D:BarionGenDay=5302880
    D:BarionGenNight=5302880
    D:BarionOutput=10605760
    D:BarionStorage=2.5E11
}


"basic mechanisms" {
    I:"exp storage"=500
}


battery {
    I:MaxEnergy=100000000
}


"california rod" {
    I:Cells=20000
    I:Heat=3
    D:Power=18.0
}


"chaos solar panel" {
    D:genday=1310720.0
    D:gennight=1310720.0
    D:output=2621440.0
    D:storage=5.0E7
    I:tier=10
}


"compress iridium rotor" {
    I:Radius=11
    I:durability=720000
    D:efficiency=3.0
    I:maxWindStrength=110
    I:minWindStrength=25
}


"crafts molecular transformer" {
    D:"Advanced ingot"=1500.0
    D:"Aer lense"=2.5E7
    D:"Barion Core"=4.5E9
    D:"Caravkiy ingot"=900000.0
    D:"Chromium ingot"=600000.0
    D:Diamond=1000000.0
    D:"Diffraction core"=1.8E8
    D:"Earth lense"=2.5E7
    D:"End lense"=2.5E7
    D:"Gold ingot"=450000.0
    D:Gravel=45000.0
    D:"Graviton Core"=1.2E10
    D:Gunpowder=70000.0
    D:"Hadron Core"=9.0E9
    D:"Hybrid core"=11720.0
    D:"Iridium Ore"=1.0E7
    D:"Iridium ingot"=2500000.0
    I:"Iridium ingot(from Iridium Ore Ic2)"=50000
    D:"Kvark Core"=2.1E10
    D:"Magnesium ingot"=700000.0
    D:"Mikhalov ingot"=900000.0
    D:"Nether Star"=2.5E8
    D:"Nether lense"=2.5E7
    D:"Neutron Core"=2.7E9
    D:"Nickel ingot"=450000.0
    D:"Night lense"=2.5E7
    D:"Photnic core"=9.0E8
    D:Photon=1450000.0
    D:"Photon ingot"=1.2E7
    D:"Platium ingot"=800000.0
    D:Proton=1.55E7
    D:"Proton core"=7500000.0
    D:"Quantum core"=300000.0
    D:"Rain lense"=2.5E7
    D:"Silver ingot"=800000.0
    D:"Singular core"=4.5E7
    D:Sintezator=1.5E10
    D:"Spectral core"=1500000.0
    D:"Spinel ingot"=800000.0
    D:"Sun lense"=2.5E7
    D:"Tungsten ingot"=700000.0
    D:"Ultimate core"=60000.0
    D:"Wither Skeleton skull"=4000000.0
}


"curium rod" {
    I:Cells=8000
    I:Heat=2
    D:Power=9.5
}


"disable effect" {
    B:"Disable fireResistance"=false
    B:"Disable jump"=false
    B:"Disable moveSpeed"=false
    B:"Disable waterBreathing"=false
}


"draconic integration" {
    B:"Register Chaos Armour"=true
    B:"Register Chaos Axe"=true
    B:"Register Chaos Bow"=true
    B:"Register Chaos Destruction Staff"=true
    B:"Register Chaos Flux Capacitor"=true
    B:"Register Chaos Pickaxe"=true
    B:"Register Chaos Shovel"=true
    B:"Register Chaos Sword"=true
    B:"Register Draconic Panels"=true
}


"draconic solar panel" {
    D:genday=40.0
    D:gennight=10.0
    D:output=80.0
    D:storage=10000.0
    I:tier=2
}


"elementium solar panel" {
    D:genday=1280.0
    D:gennight=320.0
    D:output=2560.0
    D:storage=100000.0
    I:tier=4
}


"enable crafts molecular transformer" {
    B:"Advanced ingot"=true
    B:"Aer lense"=true
    B:"Caravkiy ingot"=true
    B:"Chromium ingot"=true
    B:Diamond=true
    B:"Difraction core"=true
    B:"Earth lense"=true
    B:"End lense"=true
    B:"Gold ingot"=true
    B:Gravel=true
    B:Gunpowder=true
    B:"Hybrid core"=true
    B:"Iridium Ore"=true
    B:"Iridium ingot"=true
    B:"Magnesium ingot"=true
    B:"Mikhalov ingot"=true
    B:"Nether Star"=true
    B:"Nether lense"=true
    B:"Nickel ingot"=true
    B:"Night lense"=true
    B:"Photnic core"=true
    B:Photon=true
    B:"Photon ingot"=true
    B:"Platium ingot"=true
    B:Proton=true
    B:"Proton core"=true
    B:"Quantum core"=true
    B:"Rain lense"=true
    B:"Silver ingot"=true
    B:"Singular core"=true
    B:Sintezator=true
    B:"Spectral core"=true
    B:"Spinel ingot"=true
    B:"Sun lense"=true
    B:"Tungsten ingot"=true
    B:"Ultimate core"=true
    B:"Wither Skeleton skull"=true
}


events {
    B:Damage=true
    B:"Enable exlposion"=false
    B:"If player have quantum or nano or improvemed helmet and it was dressed and if player has coord y < 60 and skylight < 8,nightvision allow"=true
    B:"New system transfer energy"=false
}


general {
    D:AdvancedSPGenDay=5
    D:AdvancedSPGenNight=5.0
    D:AdvancedSPOutput=20.0
    D:AdvancedSPStorage=3200.0
    B:"Disable Update Check "=false
    B:"Easy Mode"=false
    B:"Enable prompt about infomation a panel"=true
    D:HybrydSPGenDay=20
    D:HybrydSPGenNight=10
    D:HybrydSPOutput=40
    D:HybrydSPStorage=20000.0
    D:QuantumSPGenDay=320
    D:QuantumSPGenNight=160
    D:QuantumSPOutput=640
    D:QuantumSPStorage=1000000.0
    D:UltimateHSPGenDay=80
    D:UltimateHSPGenNight=125.0
    D:UltimateHSPOutput=500.0
    D:UltimateHSPStorage=200000.0
    I:"coefficient rf"=4
}


generation {
    B:"Spawn Chromium Ore"=true
    B:"Spawn Iridium Ore"=true
    B:"Spawn Magnesium Ore"=true
    B:"Spawn Magnetit Ore"=true
    B:"Spawn Mickail Ore"=true
    B:"Spawn Nickel Ore"=true
    B:"Spawn Platium Ore"=true
    B:"Spawn Spinel Ore"=true
    B:"Spawn Toriy Ore"=true
    B:"Spawn Wolfram Ore"=true
    B:"Spawn ores in End"=true
    B:"Spawn ores in Nether"=true
}


"glucun quark mfsu" {
    I:output=247955456
    D:storage=4.096E11
    I:tier=11
}


"gravitational mfsu" {
    I:output=61988864
    D:storage=1.024E11
    I:tier=10
}


"graviton solar panel" {
    I:GravitonGenDay=84846080
    I:GravitonGenNight=84846080
    I:GravitonOutput=169692160
    D:GravitonStorage=2.5E9
}


"hadrion solar panel" {
    I:HadrionGenDay=21211520
    I:HadrionGenNight=21211520
    I:HadrionOutput=42423040
    D:HadrionStorage=2.5E10
}


"improvemed quantum armor" {
    I:"maxcharge Improvemed Quantum Body"=300000000
    I:"maxcharge exept Improvemed Quantum Body"=100000000
    I:tier=4
    I:transferlimit=10000
}


"imroved mfsu" {
    I:"energy storage"=100000000
    I:"energy transfer Et/t"=32768
    I:tier=5
}


"infinity solar panel" {
    D:GenDay=1048576.0
    D:GenNight=1048576.0
    D:Output=2097152.0
    D:Storage=3.0E7
}


integrestion {
    B:"Integrestion Advanced Solar Panels"=true
    B:"Integrestion Avaritia"=true
    B:"Integrestion Botania"=true
    B:"Integrestion Draconic Evolution"=true
    B:"Integrestion EnchantingPlus"=true
    B:"Integrestion MineFactoryReloaded"=true
    B:"Integrestion Thaumcraft"=false
    B:"Integrestion Wireless Solar Panels"=false
}


"iridium rotor" {
    I:Radius=11
    I:durability=648000
    D:efficiency=2.0
    I:maxWindStrength=110
    I:minWindStrength=25
}


"kvark solar panel" {
    I:KvarkGenDay=339384320
    I:KvarkGenNight=339384320
    I:KvarkOutput=678768640
    D:KvarkStorage=2.5E12
}


"light-adbord solar panel" {
    D:AdminPanelGenDay=81920
    D:AdminPanelGenNight=40960
    D:AdminPanelOutput=327680
    D:AdminPanelStorage=5.0E9
    I:tier=8
}


"manasteel solar panel" {
    D:genday=160.0
    D:gennight=80.0
    D:output=320.0
    D:storage=100000.0
    I:tier=3
}


module {
    I:"Limit in energy storage"=2
}


modules {
    I:"percent generation day"=10
    I:"percent generation night"=10
    I:"percent output"=10
    I:"percent storage"=10
}


multimatter {
    B:amplifierSlot=true
}


"myphical rotor" {
    I:Radius=11
    I:durability=345600
    D:efficiency=5.0
    I:maxWindStrength=110
    I:minWindStrength=25
}


"nano bow" {
    I:MaxEnergy=50000
    I:Tier=2
    I:"Transfer energy"=5000
}


"neptunium rod" {
    I:Cells=15000
    I:Heat=1
    D:Power=3.5
}


"neutron rotor" {
    I:Radius=11
    I:durability=2764800
    D:efficiency=7.0
    I:maxWindStrength=110
    I:minWindStrength=25
}


"neutron solar panel(avaritia)" {
    D:GenDay=1310720.0
    D:GenNight=1310720.0
    D:Output=2621440.0
    D:Storage=4.0E7
    I:tier=8
}


"neutronium generator" {
    D:"Consumes energy to make 1 mb neutronim"=6.5625E8
}


"neutronium solar panel" {
    I:NeutronPanelGenDay=19631250
    D:NeutronPanelGenNight=1325720
    D:NeutronPanelOutput=2651440
    D:NeutronPanelStorage=6.5E10
    I:tier=10
}


"perfect mfsu" {
    I:output=968576
    D:storage=1.6E9
    I:tier=6
}


"photon rotor" {
    I:Radius=11
    I:durability=691200
    D:efficiency=6.0
    I:maxWindStrength=110
    I:minWindStrength=25
}


"photonic solar panel" {
    D:PhotonicPanelGenDay=327680
    D:PhotonicPanelGenNight=327680
    D:PhotonicPanelOutput=655360
    D:PhotonicPanelStorage=1.5E10
    I:tier=9
}


"proton solar panel" {
    D:ProtonGenDay=5120
    D:ProtonGenNight=2560
    D:ProtonOutput=10240
    D:Protonstorage=5.0E7
}


protonrod {
    I:Cells=30000
    I:Heat=1
    I:Power=6
}


"quantum armor" {
    B:"Allow Streak"=true
}


"quantum bow" {
    I:MaxEnergy=80000
    I:Tier=3
    I:"Transfer energy"=25000
}


"quantum querry" {
    I:"energy consume"=55000
}


"quantum saber" {
    I:"QuantumSaber Damage Active"=40
    I:"QuantumSaber Damage Not Active"=8
    I:"SpectralSaber max Charge"=200000
    I:"SpectralSaber tier"=4
    I:"SpectralSaber transfer Limit"=15000
}


reactor {
    B:explode=false
}


"singular solar panel" {
    D:SingularSPGenDay=20480
    D:SingularSPGenNight=10240
    D:SingularSPOutput=40960
    D:SingularSPStorage=1.0E9
    I:tier=7
}


"solid matter generator storage" {
    D:"Matter Generator Storage"=5.0E8
}


"sounds settings" {
    B:"Disable all sounds"=false
}


"spectral armor" {
    B:protection=true
}


"spectral bow" {
    I:MaxEnergy=150000
    I:Tier=4
    I:"Transfer energy"=50000
}


"spectral rotor" {
    I:Radius=11
    I:durability=172800
    D:efficiency=4.0
    I:maxWindStrength=110
    I:minWindStrength=25
}


"spectral saber" {
    I:"SpectralSaber Damage Active"=60
    I:"SpectralSaber Damage Not Active"=12
    I:"SpectralSaber max Charge"=600000
    I:"SpectralSaber tier"=5
    I:"SpectralSaber transfer Limit"=40000
}


"spectral solar panel" {
    D:"Spectral Solar panel Storage"=5000000.0
    D:SpectralSPGenDay=1280
    D:SpectralSPGenNight=640
    D:SpectralSPOutput=2560
    I:tier=5
}


"terasteel solar panel" {
    D:genday=10240.0
    D:gennight=2560.0
    D:output=20480.0
    D:storage=200000.0
    I:tier=5
}


terrasteelrod {
    I:Cells=20000
    I:Heat=1
    I:Power=2
}


toriyrod {
    I:Cells=10000
    I:Heat=1
    I:Power=3
}


ultimatedrill {
    B:"Enable Efficiency tool mode 0"=true
    B:"Enable Efficiency tool mode 1"=true
    B:"Enable fortune tool mode 3"=true
    B:"Enable silk Touch tool mode 2"=true
    I:"Mode 0 efficiency"=35
    I:"Mode 1 efficiency"=20
    I:"Mode 2 efficiency"=16
    I:"Mode 3 efficiency"=12
    I:"Mode 4 efficiency"=10
    I:"energyPerBigHolesOperation (3x3)"=300
    I:energyPerLowOperation=80
    I:energyPerOperation=160
    I:"energyPerUltraBigHolesOperation (5x5)"=500
    I:"energyPerUltraBigHolesOperation (7x7)"=700
    I:maxCharge=15000000
    I:tier=2
    I:"transfer Limit"=500
}


"unifier panels" {
    I:Limit=2
}


