# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

**/build/

# Common working directory
run/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/.gradle/
/bin/
eclipse/asm/ccl_modular/net#minecraft#block#BlockFire.txt
*.txt
*.cfg
*.properties
*.prefs
.project
.classpath
*.recipe
*.csv
*.json
*.html
*.dat
*.gz
*.ini
*.mcmeta
*.dat_old
*.dat_mcr
*.baubback
*.thaumback
*.mca
*.lock
*.baub
*.thaum
eclipse/saves/New World/playerdata/7d461d5d-f429-32b0-a043-0156fa837406.dat.tmp
eclipse/saves/New World/playerdata/5b0c46c0-894b-30a6-bd31-bf02da63882f.dat.tmp
eclipse/saves/New World/playerdata/6b0be7c5-d502-342b-9566-f3750127a843.dat.tmp
*.tmp
eclipse/config/draconicevolution/resources/assets/
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/ECore7.png
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/ECore4.png
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/ECore3.png
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/chaosIsland.png
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/comet.png
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/dislocatorReceptical.png
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/ECore1.png
eclipse/config/draconicevolution/resources/assets/draconicevolution/textures/gui/manualimages/ECore11.png
*.zs
eclipse/screenshots/2021-03-11_16.16.37.png
*.zs
eclipse/screenshots/2021-03-22_20.57.02.png
*.zs
eclipse/screenshots/2021-04-18_13.43.16.png
*.zs
eclipse/scripts/New Script.zs
libs/GalaxyAdditions-1.7.10-1.0.1-deobf.jar

.idea
.gradle
.setting
eclipse/saves/Новый мир/galacticraft/overworldMap/Overworld192.bin
.gradle/4.4.1/fileContent/fileContent.lock
.gradle/4.4.1/fileHashes/fileHashes.bin
.gradle/4.4.1/fileHashes/fileHashes.lock
.gradle/4.4.1/taskHistory/taskHistory.bin
.gradle/4.4.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
eclipse/config/IC2.ini
eclipse/config/splash.properties
eclipse/logs/2021-06-24-1.log.gz
eclipse/logs/2021-06-24-2.log.gz
eclipse/logs/2021-06-24-3.log.gz
eclipse/logs/2021-06-24-4.log.gz
*.properties
*.ini
*.gradle
*.bin
*.lock
.gradle/4.4.1/fileContent/fileContent.lock
.gradle/4.4.1/fileHashes/fileHashes.bin
.gradle/4.4.1/fileHashes/fileHashes.lock
.gradle/4.4.1/taskHistory/taskHistory.bin
.gradle/4.4.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build.gradle
eclipse/config/IC2.ini
eclipse/config/splash.properties
eclipse/logs/2021-06-24-1.log.gz
eclipse/logs/2021-06-24-2.log.gz
eclipse/logs/2021-06-24-3.log.gz
eclipse/logs/2021-06-24-4.log.gz
eclipse/logs/2021-06-24-5.log.gz
eclipse/logs/2021-06-24-6.log.gz
eclipse/logs/2021-06-24-7.log.gz
eclipse/mods/ic2/EJML-core-0.26.jar
eclipse/saves/Новый мир/data/Mineshaft.dat
eclipse/saves/Новый мир/data/villages.dat
eclipse/saves/Новый мир/DIM-1/data/villages.dat
eclipse/saves/Новый мир/DIM1/data/villages.dat
eclipse/saves/Новый мир/level.dat
eclipse/saves/Новый мир/level.dat_mcr
eclipse/saves/Новый мир/level.dat_old
eclipse/saves/Новый мир/NEI/players/Player222.dat
eclipse/saves/Новый мир/NEI/players/Player227.dat
eclipse/saves/Новый мир/NEI/players/Player232.dat
eclipse/saves/Новый мир/NEI/players/Player612.dat
eclipse/saves/Новый мир/NEI/players/Player629.dat
eclipse/saves/Новый мир/NEI/players/Player676.dat
eclipse/saves/Новый мир/NEI/players/Player704.dat
eclipse/saves/Новый мир/NEI/players/Player753.dat
eclipse/saves/Новый мир/NEI/players/Player968.dat
eclipse/saves/Новый мир/playerdata/03ba29a1-d6bd-32ba-90b2-375e4d65abc9.dat
eclipse/saves/Новый мир/playerdata/19e1dbac-54cc-34fa-99b8-c2a0812b14c1.dat
eclipse/saves/Новый мир/playerdata/6d917d12-8c99-3a68-96a3-2ce5d15924c0.dat
eclipse/saves/Новый мир/playerdata/a349eb7d-8b74-32da-bb8d-6a1fb49c3d85.dat
eclipse/saves/Новый мир/playerdata/c1896c31-8159-3c75-9e16-fc454b66b2cc.dat
eclipse/saves/Новый мир/playerdata/cc8f980e-8ea7-381a-8715-01149d418cfb.dat
eclipse/saves/Новый мир/playerdata/de192d37-7eec-3daf-a76d-c22c1a8036fd.dat
eclipse/saves/Новый мир/playerdata/eb7081a5-32ec-3752-9cbc-963a701e6fdd.dat
eclipse/saves/Новый мир/playerdata/f61ca7c9-c051-37fb-bee7-11203541854b.dat
eclipse/saves/Новый мир/region/r.-1.0.mca
eclipse/saves/Новый мир/region/r.0.0.mca
eclipse/saves/Новый мир/session.lock
eclipse/saves/Новый мир/stats/03ba29a1-d6bd-32ba-90b2-375e4d65abc9.json
eclipse/saves/Новый мир/stats/19e1dbac-54cc-34fa-99b8-c2a0812b14c1.json
eclipse/saves/Новый мир/stats/6d917d12-8c99-3a68-96a3-2ce5d15924c0.json
eclipse/saves/Новый мир/stats/a349eb7d-8b74-32da-bb8d-6a1fb49c3d85.json
eclipse/saves/Новый мир/stats/c1896c31-8159-3c75-9e16-fc454b66b2cc.json
eclipse/saves/Новый мир/stats/cc8f980e-8ea7-381a-8715-01149d418cfb.json
eclipse/saves/Новый мир/stats/de192d37-7eec-3daf-a76d-c22c1a8036fd.json
eclipse/saves/Новый мир/stats/eb7081a5-32ec-3752-9cbc-963a701e6fdd.json
eclipse/saves/Новый мир/stats/f61ca7c9-c051-37fb-bee7-11203541854b.json
eclipse/screenshots/2021-06-25_00.22.52.png
eclipse/usernamecache.json
gradle/wrapper/gradle-wrapper.jar
